
<section class="col-md-8 col-sm-6 col-md-offset-6 main-content">
    <div class="sub-nav">
        <a href="#" class="select-posts active">Faça parte</a>
    </div>
    
    

 
</section><!-- main content -->