
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Novo Post</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <!-- if the user has javascript disabled they can still use the menu -->
    
    <!-- end no script -->
    <main class="container left-container">
        <div class="row">
           
            <div class="col-md-12 col-sm-12 col-md-offset-0 main-content">
                <h3>Novo Post</h3>
                <form>
                    <div class="form-group">
                        <label for="NomeAutor">Nome do Autor</label>
                        <input type="text" placeholder="" class="form-control" id="NomeAutor">
                    </div>
                    <div class="form-group">
                        <label for="DataPostagem">Data da Postagem</label>
                        <input type="text" placeholder="16/03/2017" class="form-control" id="DataPostagem">
                    </div>
                    <div class="form-group">
                        <label for="TituloPostagem">Título do Post</label>
                        <input type="text" placeholder="" class="form-control" id="TituloPostagem">
                    </div>
                    <div class="form-group">
                        <label for="SubtituloPostagem">Subtítulo da Postagem</label>
                        <input type="text" placeholder="" class="form-control" id="SubtituloPostagem">
                    </div>
                    <div class="form-group">
                        <label for="ConteudoPrimeiroNivelPostagem">Conteúdo Primeiro Nível</label>
                        <textarea class="form-control" ID="ConteudoPrimeiroNivelPostagem"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="TituloMeioPostagem">Título Meio do Post</label>
                        <input type="text" placeholder="" class="form-control" id="TituloMeioPostagem">
                    </div>
                    <div class="form-group">
                        <label for="ConteudoSegundoNivelPostagem">Conteúdo Segundo Nível da Postagem</label>
                        <textarea class="form-control" ID="ConteudoSegundoNivelPostagem"></textarea>
                    </div>
                    <div class="form-group">
                    <input class="btn btn-default" type="submit" id="btnNovaPostagem" value="VAI FILHÃO">
                </div>
            </form>
        
        </div><!-- main content -->
    </div> <!--/row -->
</main> <!-- /container -->
    
    
</body>
</html>


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/FormularioPostagem/FormNovaPostagem.js")

